.content-wrap {
    height: 99vh;
}
#mapDMA {
    width: 100%;
    height: 100%;
    position: relative;
}

.container-fluid.map .row,
.container-fluid.map .row .col {
    height: 100%;
}

@media only screen and (max-width: 769px) {
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 321px) {
    #panel {
        width: 75%;
    }

    .icon-setting .box-icon.expanse {
        right: 75%;
    }
}

@media only screen and (max-width: 430px) {
    #panel {
        width: 60%;
    }

    #mapDMA {
        height: 90%;
    }

    .icon-setting .box-icon.expanse {
        right: 60%;
    }
}

@media only screen and (max-width: 769px) {
    #panel {
        width: 40%;
    }

    .icon-setting .box-icon.expanse {
        right: 40%;
    }

    .container-fluid.footer {
        display: none;
    }
    .container-fluid.map {
        height: 100%;
    }
}

@media only screen and (max-width: 426px) {
    .content-wrap {
        height: 96%;
    }
}

.container-fluid.map {
    height: calc(100% - 200px);
    padding: 0 !important;
}

#legend {
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: darkgrey;
    color: darkblue;

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#legend.hide {
    transform: translateX(-105%);
    -webkit-transform: translateX(-105%);
    -moz-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    -o-transform: translateX(-105%);
}

#hideLegend span i {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: darkgrey;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);

    position: relative;
    right: 50px;
}

#hideLegend {
    transform: translateX(90px);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(90px);
    -moz-transform: translateX(90px);
    -ms-transform: translateX(90px);
    -o-transform: translateX(90px);
}

#hideLegend:hover {
    color: darkblue;
}

.back-gray {
    background-color: #95a5a6 !important;
}

.back-orange {
    background-color: #e67e22 !important;
}

.back-red {
    background-color: #e74c3c !important;
}

.text-white {
    color: whitesmoke;
}

#tableStatistic {
    width: 100%;
    height: 200px;

    overflow-y: scroll;
}

.loading {
    width: 50px;
    height: 50px;
}

.lost-area {
    padding: 5px;
    width: 100%;
    margin: 5px;
    height: 70px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    font-size: 10px;
}

.lost-area-total-dma {
    padding: 5px;
    width: 100%;
    margin: 5px;
    height: 70px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    border: 1px solid #e0e0e0;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    font-size: 10px;
}

#totalPercentLost,
#totalLostWater,
#totalDMA {
    font-size: 1.4rem;
    color: #3498db;
}

table {
    font-size: 0.7rem;
    width: 100%;
}

table thead {
    background-color: #052b27e0;
}

table th,
table td {
    padding: 5px !important;
    font-size: 0.6rem;
}

#bodyTableStatistic tr td {
    color: #868e96;
}

.chart-popup {
    width: 100%;
    height: 250px;
}

#tableStatistic::-webkit-scrollbar {
    width: 5px; /* Vertical scrollbar width */
}

/* Track (the background) */
#tableStatistic::-webkit-scrollbar-track {
    background: #05152b;
    border-radius: 10px;
}

/* Handle (the draggable part) */
#tableStatistic::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
#tableStatistic::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.arrow-up {
    padding: 2px;
    background-color: #e74c3c;
    color: whitesmoke;
    margin-right: 2px;
}

.arrow-down {
    padding: 2px;
    background-color: aqua;
    margin-right: 2px;
}

.trend-up td {
    color: #c44141 !important;
}

.leaflet-popup-content-wrapper {
    color:#868e96;
    background: #051328;
    min-height: 300px;
    min-width: 300px;
}

/* Bổ sung styling cho biểu đồ và canvas */
.chart {
    height: 210px !important;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 210px !important;
    width: 100% !important;
}
.ttn-tooltip {
    background-color: rgba(0, 0, 0, 0.6);
    color: #00ffff;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
    text-shadow: 0 0 3px #000;
}
